*{
  font-size: 16px;
  box-sizing: border-box;

}
/**header**/
#header-nav{
background-color: #6112;
border-radius: 0;
border: 0;
margin-bottom: 30px;
}
.navbar {
  margin-bottom: 30px;
}
.nav-link{
  text-align: center;
}
.navbar-brand{
  font-size: 30px;
  font-weight: bold;
}
h2 {
  text-align: center;
}
h3{
  text-align: center;
}
.col{
  background-color: rgb(240, 146, 4);
  border: 2px solid black;
  position: relative;
  margin-top: 40px;
  padding: 20px;
 
}
/* Desktop View */
@media (min-width: 1201px) {
  .col-lg-12 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
} 

/* Tablet View */
@media (max-width: 1200px) and (min-width: 992px) {
  .col-md-12 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
/* Mobile View */
@media (min-width: 768px) {
  .col-sm-12 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
/* Mobile View */
@media (max-width: 767px) {
  .col-xs-12 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}












































